## String Data type Assignment

### 1. Write a program to reverse a string.

In [1]:
myStr = "Python"
print(myStr[::-1].lower())

nohtyp

### 2. Check if a string is a palindrome.

In [2]:
myStr = "Madam"
if myStr.lower() == myStr[::-1].lower():
    print("Given word",myStr,"is palindrome")
else:
    print("Given word",myStr,"is not palindrome")

Given word Madam is palindrome

### 3. Convert a string to uppercase.

In [3]:
myStr = "python"
print("Uppercase of ",myStr, "is",myStr.upper())

Uppercase of  python is PYTHON

### 4. Convert a string to lowercase.

In [4]:
myStr = "Python"
print("Lowercase of ",myStr, "is",myStr.lower())

Lowercase of  Python is python

### 5. Count the number of vowels in a string.

In [5]:
myStr = "Data Science first step is to learn python"
vowels_cnt = 0
for i in myStr:
    if i in ['a','e','i','o','u']:
        vowels_cnt += 1
print("Vowels for the given word is",vowels_cnt)

Vowels for the given word is 12

### 6. Count the number of consonants in a string.

In [6]:
myStr = "Data Science first step is to learn python"
eng_const = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
const_cnt = 0
for char in myStr:
    if char in eng_const:
        const_cnt += 1
print("Number of consonants for given word is",const_cnt)

Number of consonants for given word is 23

### 7. Remove all whitespaces from a string.

In [7]:
myStr = "Data Science first step is to learn python"
myStr = myStr.replace(" ","")
print("After whitespace removal",myStr)

After whitespace removal DataSciencefirststepistolearnpython

### 8. Find the length of a string without using the `len()` function.

In [8]:
myStr = "Data Science"
no_of_letters = 0
for char in myStr:
    no_of_letters += 1
print("Number of letters for given word",myStr,"is",no_of_letters)

Number of letters for given word Data Science is 12

### 9. Check if a string contains a specific word.

In [9]:
myStr = "Data Science first step is to learn python"
word = "science"
if word in myStr.lower().split():
    print("success")
else:
    print("Word not found")

success

### 10. Replace a word in a string with another word.

In [10]:
myStr = "Data Science first step is to learn python"
myStr = myStr.replace('first','baby')
print(myStr)

Data Science baby step is to learn python

### 11. Count the occurrences of a word in a string.

In [11]:
myStr = "Data Science first step is to to learn python"
check_word = 'to'
occur = 0
for word in myStr.lower().split():
    if check_word == word:
        occur += 1
print("given word",check_word,"occured",occur," times")

given word to occured 2  times

### 12. Find the first occurrence of a word in a string.

In [12]:
myStr = "Data Science first step is to to learn python"
check_word = 'to'

print("word occured at ",myStr.find(check_word),"position")

word occured at  27 position

### 13. Find the last occurrence of a word in a string.

In [13]:
myStr = "Data Science first step is to to learn python"
check_word = 'to'

print("word occured at ",myStr.rfind(check_word),"position")

word occured at  30 position

### 14. Split a string into a list of words.

In [14]:
myStr = "Data Science first step is to to learn python"
intoWords = myStr.split()
print(intoWords)

['Data', 'Science', 'first', 'step', 'is', 'to', 'to', 'learn', 'python']

### 15. Join a list of words into a string.

In [15]:
myStr = "Data Science first step is to to learn python"
intoWords = myStr.split()
intoString = ' '.join(intoWords)
print(intoString)

Data Science first step is to to learn python

### 16. Convert a string where words are separated by spaces to one where words
### are separated by underscores.

In [16]:
myStr = "Data Science first step is to to learn python"
myStr = myStr.replace(' ','_')
print(myStr)

### Another method
intoWords = myStr.split()
print("Another method :               ", '_'.join(intoWords))

Data_Science_first_step_is_to_to_learn_python
Another method :                Data_Science_first_step_is_to_to_learn_python

### 17. Check if a string starts with a specific word or phrase.

In [17]:
myStr = "learning python is first step for DS"
if myStr.startswith("learning"):
    print("Text starts with given word")
else:
    print("Text not starts with given word")

Text starts with given word

### 18. Check if a string ends with a specific word or phrase.

In [18]:
myStr = "learning python is first step for DS"
if myStr.endswith('DW'):
    print("Text ends with given word")
else:
    print("Text not ends with given word")

Text not ends with given word

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
myWord = "hello world in python"
print(myWord.title())

Hello World In Python

### 20. Find the longest word in a string.

In [20]:
myWord = "hello world in python yes"
word = ''
long_word = ''
for char in myWord.split():
    if len(char) > len(long_word):
        long_word = char
print("Given longest word is ",long_word)

Given longest word is  python

### 21. Find the shortest word in a string.

In [21]:
myWord = "hello world in python yes"
word = ''
short_word = myWord
for char in myWord.split():
    if len(char) < len(short_word):
        short_word = char
print("Given shortest word is ",short_word)

Given shortest word is  in

### 22. Reverse the order of words in a string.

In [22]:
myWord = "hello world in python"
print(' '.join(myWord.split()[::-1]))

python in world hello

### 23. Check if a string is alphanumeric.

In [23]:
myWord = "123*"
print("is Given string is alphanumeric:", myWord.isalnum())

is Given string is alphanumeric: False

### 24. Extract all digits from a string.

In [24]:
myWord = "h123ello world in 10pyt567hon89"
ext_digits =''
for char in myWord:
    if char.isdigit():
        ext_digits += char
print(ext_digits)

1231056789

### 25. Extract all alphabets from a string.

In [25]:
myWord = "h123ello world in 10pyt567hon89"
ext_alpha =''
for char in myWord:
    if char.isalpha():
        ext_alpha += char
print(ext_alpha)

helloworldinpython

### 26. Count the number of uppercase letters in a string.

In [26]:
myWord = "hello world in Python"
myWord = myWord.replace(' ','')
upper_cnt = 0
for char in myWord:
    if char == char.upper():
        upper_cnt += 1
print("Total uppercase letters are ",upper_cnt)

Total uppercase letters are  1

### 27. Count the number of lowercase letters in a string.

In [27]:
myWord = "hello WORLD in Python"
myWord = myWord.replace(' ','')
lower_cnt = 0
for char in myWord:
    if char == char.lower():
        lower_cnt += 1
print("Total lowercase letters are ",lower_cnt)

Total lowercase letters are  12

### 28. Swap the case of each character in a string.

In [28]:
myWord = "hello WORLD in Python"
output = ''
for char in myWord:
    if char == char.upper():
        output = output + char.lower()
    elif char == char.lower():
        output = output + char.upper()
    else:
        output  = output + char
        
print(output)

HELLO world IN pYTHON

### 29. Remove a specific word from a string.

In [29]:
myWord = "hello WORLD in Python"
word = 'in'
list_word = myWord.split()
print(' '.join([char for char in list_word if char != word]))

hello WORLD Python

### 30. Check if a string is a valid email address.

In [30]:
import re
myEmail = "test123@email.com"
if re.match(r"[^@]+@[^@]+\.[^@]+",myEmail):
    print("Email is valid")
else:
    print("Email is invalid")

Email is valid

### 31. Extract the username from an email address string.

In [31]:
myEmail = "test123@email.com"
print(myEmail[:myEmail.index('@')])

test123

### 32. Extract the domain name from an email address string.

In [32]:
myEmail = "test123@email.com"
index_s = myEmail.index('@') + 1
index_e = myEmail.index('.')
print("E-Mail Domain is ",myEmail[index_s:index_e])

E-Mail Domain is  email

### 33. Replace multiple spaces in a string with a single space.

In [33]:
myWord = "hello WORLD in              Python"
print(' '.join(myWord.split()))

hello WORLD in Python

### 34. Check if a string is a valid URL.

In [34]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [35]:
import validators
URL = input("Enter any URL")
if validators.url(URL):
    print("Entered URL",URL,"is valid")
else:
    print("Entered URL",URL,"is not valid",)

Enter any URL testing.com

Entered URL testing.com is not valid

### 35. Extract the protocol (http or https) from a URL string.

In [36]:
URL = input("Enter URL with http")
url_split = URL.split(':')
print("protocol is",url_split[0])

Enter URL with http http://google.com

protocol is http

### 36. Find the frequency of each character in a string.

In [37]:
myWord = "testing"
checked = []
for i in myWord:
    if i not in checked:
        frequency = myWord.count(i)
        print(i +":"+ str(frequency), end=',')
        checked.append(i)

t:2,e:1,s:1,i:1,n:1,g:1,

### 37. Remove all punctuation from a string.

In [39]:
import string
myWord = "hello @* WORLD in Python!"
removed_p = ''
for char in myWord:
    if char not in string.punctuation:
        removed_p = removed_p + char
print(removed_p)

hello  WORLD in Python

### 38. Check if a string contains only digits.

In [40]:
myWord = str(input("enter anything"))
print('is word contains only digit',myWord.isdigit())

enter anything test123

is word contains only digit False

### 39. Check if a string contains only alphabets.

In [41]:
myWord = "Data science"
print("is word contains only alphabets", myWord.replace(' ','').isalpha())

is word contains only alphabets True

### 40. Convert a string to a list of characters.

In [42]:
myWord = "Data science"
mylist = list(myWord.replace(' ',''))
print(mylist)

['D', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']

### 41. Check if two strings are anagrams.

In [43]:
str1 = input("Enter anything for anagram")
str2 = input("Enter word to check anagram")
str1 = str1.replace(' ','')
str2 = str2.replace(' ','')
if len(str1) == len(str2):
    if sorted(str1.lower()) == sorted(str2.lower()):
        print(str1,"and",str2,"are anagram")
    else:
        print(str1,"and",str2,"are not anagram")
else:
    print(str1,"and",str2,"are not anagram")

Enter anything for anagram madam
Enter word to check anagram madam

madam and madam are anagram

### 42. Encode a string using a Caesar cipher.

In [44]:
myWord = 'Data Science Test'
encrypt_key = 4 #this is used to change text, for example if my word is Apple then word is encrypted as Ettpj,
# which is 4 letter from every letter
result = ''
for char in myWord:
    if char != ' ':
        result += chr(ord(char)+encrypt_key)
    else:
        result += ' '
print(result)

Hexe Wgmirgi Xiwx

### 43. Decode a Caesar cipher encoded string.

In [45]:
myWord = 'Hexe Wgmirgi Xiwx'
encrypt_key = 4 #this is used to change text, for example if my word is Apple then word is encrypted as Ettpj,
# which is 4 letter from every letter
result = ''
for char in myWord:
    if char != ' ':
        result += chr(ord(char) - encrypt_key)
    else:
        result += ' '
print(result)

Data Science Test

### 44. Find the most frequent word in a string.

In [46]:
myWord = 'Example for given example is another example'
word_cnt = 0 
freq_word = ''
for word in myWord.lower().split():
    if ( myWord.lower().count(word) > 1) & (myWord.lower().count(word) > word_cnt) :
        word_cnt = myWord.lower().count(word)
        freq_word = word
        
print("Frequent word is ",freq_word)

Frequent word is  example

### 45. Find all unique words in a string.

In [47]:
myWord = 'Example for given example is another example'
uniq = []
for word in myWord.split():
    if word not in uniq:
        uniq.append(word)
print("Unique words are", uniq)

Unique words are ['Example', 'for', 'given', 'example', 'is', 'another']

### 46. Count the number of syllables in a string.

In [48]:
myWord = "ho-tel"

print("Syllables for given word is ", len(myWord.split('-')))

Syllables for given word is  2

### 47. Check if a string contains any special characters.

In [49]:
import string
myWord = "test"
if any(c in string.punctuation for c in myWord):
    print("Yes, it has special character")
else:
    print("no, special character")

no, special character

### 48. Remove the nth word from a string.

In [50]:
myWord = "cutt of the last word in this string"
print(myWord.rsplit(' ',1)[0])

cutt of the last word in this

### 49. Insert a word at the nth position in a string.

In [51]:
myWord = "insert word in this string"
word = "python"
position = 2

myList = myWord.split(' ')
myList.insert(position,word)
print(' '.join(myList))

insert word python in this string

### 50. Convert a CSV string to a list of lists.

In [52]:
myWord = "cutt,of,the,last,word,in,this,string"
print("Words are:  ",myWord.split(','))

Words are:   ['cutt', 'of', 'the', 'last', 'word', 'in', 'this', 'string']

# List Data type Assignment

### 1. Create a list with integers from 1 to 10.

In [53]:
num_l = []
for i in range(1,11):
    num_l.append(i)
print(num_l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [54]:
cnt = 0
for i in num_l:
    cnt += 1
print("Length of given list is",cnt)

Length of given list is 10

### 3. Append an element to the end of a list.

In [55]:
myList = ["Python", "Pandas", "Numpy"]
myList.append("Stats")
print("Stats added as last item to list", myList)

Stats added as last item to list ['Python', 'Pandas', 'Numpy', 'Stats']

### 4. Insert an element at a specific index in a list.

In [56]:
myList.insert(3,"EDA")
print("EDA has been added after Numpy at specific position",myList)

EDA has been added after Numpy at specific position ['Python', 'Pandas', 'Numpy', 'EDA', 'Stats']

### 5. Remove an element from a list by its value.

In [57]:
myList.remove('EDA')
print("EDA has been removed",myList)

EDA has been removed ['Python', 'Pandas', 'Numpy', 'Stats']

### 6. Remove an element from a list by its index.

In [58]:
myList.pop(2)
print("Popped element from index 2(Numpy)", myList)

Popped element from index 2(Numpy) ['Python', 'Pandas', 'Stats']

### 7. Check if an element exists in a list.

In [59]:
element_to_check = 'Pandas'
if element_to_check in myList:
    print("Element",element_to_check,"is present in list")
else:
    print("Element",element_to_check,"is not present in list")
# print('Return Pandas index if element is present',myList.index('Pandas'))

Element Pandas is present in list

### 8. Find the index of the first occurrence of an element in a list.

find_first_occurance = 'Python'
print('First occurence of',find_first_occurance,'is',myList.index(find_first_occurance))

### 9. Count the occurrences of an element in a list.

In [60]:
myList.append('Python')
element_check = 'Python'
no_of_occu = 0
for element in myList:
    if element == element_check:
        no_of_occu += 1
print("Element",element_check,"occured",no_of_occu,"times")

Element Python occured 2 times

### 10. Reverse the order of elements in a list.

In [61]:
print("Correct order of list is ",myList)
print("Reverse order of list is",myList[::-1])

Correct order of list is  ['Python', 'Pandas', 'Stats', 'Python']
Reverse order of list is ['Python', 'Stats', 'Pandas', 'Python']

### 11. Sort a list in ascending order.

In [62]:
myList.sort()
print("Ascending order of list is",myList)

Ascending order of list is ['Pandas', 'Python', 'Python', 'Stats']

### 12. Sort a list in descending order.

In [63]:
myList.sort(reverse=True)
print("Descending order of list is",myList)

Descending order of list is ['Stats', 'Python', 'Python', 'Pandas']

### 13. Create a list of even numbers from 1 to 20.

In [64]:
#using list comprehension, list is built only for even numbers
even_nums = [i for i in range(1,21) if i % 2 == 0]
print("Even numbers from 1 to 20 is",even_nums)

Even numbers from 1 to 20 is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [65]:
#using list comprehension, list is built only for even numbers
odd_nums = [i for i in range(1,21) if i % 2 != 0]
print("Odd numbers from 1 to 20 is",odd_nums)

Odd numbers from 1 to 20 is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [66]:
print("Sum of even numbers list is", sum(even_nums))

Sum of even numbers list is 110

### 16. Find the maximum value in a list.

In [67]:
print("Maximum value in even numbers list is",max(even_nums))

Maximum value in even numbers list is 20

### 17. Find the minimum value in a list.

In [68]:
print("Minimum value in even numbers list is",min(even_nums))

Minimum value in even numbers list is 2

### 18. Create a list of squares of numbers from 1 to 10.

In [69]:
nums_squares = [x**2  for x in range(1,11) ]
print("List of squares from 1 to 10 is",nums_squares)

List of squares from 1 to 10 is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [70]:
# using list comprehension and using random library
import random
random_nums = [random.randint(30,40) for i in range(10)]
print("Random numebrs is", random_nums)

Random numebrs is [38, 38, 35, 38, 32, 33, 38, 33, 40, 37]

### 20. Remove duplicates from a list.

In [71]:
# convert list into set for removing duplicates
print("List before removing duplicates",myList)

removed_duplicates = list(set(myList))
print("After removing duplicates",removed_duplicates)

List before removing duplicates ['Stats', 'Python', 'Python', 'Pandas']
After removing duplicates ['Stats', 'Pandas', 'Python']

### 21. Find the common elements between two lists.

In [72]:
removed_duplicates.extend(['EDA','ML',"DL","Gen AI"])
print("elements from list1",myList)
print("elements from list2 ", removed_duplicates)
common_elements = []
for single in myList:
    if single in removed_duplicates:
        common_elements.append(single)
print("common elements between list are", common_elements)

elements from list1 ['Stats', 'Python', 'Python', 'Pandas']
elements from list2  ['Stats', 'Pandas', 'Python', 'EDA', 'ML', 'DL', 'Gen AI']
common elements between list are ['Stats', 'Python', 'Python', 'Pandas']

### 22. Find the difference between two lists.

In [73]:
print("elements from list1",myList)
print("elements from list2 ", removed_duplicates)
diff_elements = []
if len(myList) > len(removed_duplicates):
    for single in myList:
        if single not in removed_duplicates:
            diff_elements.append(single)
elif len(removed_duplicates) > len(myList):
    for single in removed_duplicates:
        if single not in myList:
            diff_elements.append(single)
print("difference elements between list are", diff_elements)

elements from list1 ['Stats', 'Python', 'Python', 'Pandas']
elements from list2  ['Stats', 'Pandas', 'Python', 'EDA', 'ML', 'DL', 'Gen AI']
difference elements between list are ['EDA', 'ML', 'DL', 'Gen AI']

### 23. Merge two lists.

In [74]:
# As many ways to merge two list, used different method from google
import itertools
merged_list = list(itertools.chain(myList,diff_elements))
print("Merged list is",merged_list)

Merged list is ['Stats', 'Python', 'Python', 'Pandas', 'EDA', 'ML', 'DL', 'Gen AI']

### 24. Multiply all elements in a list by 2.

In [75]:
multiply_2 = list(map(lambda x: x*2 , even_nums))
print("Before multiply          ", even_nums)
print("List after multiples by 2",multiply_2)

Before multiply           [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
List after multiples by 2 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

### 25. Filter out all even numbers from a list.

In [76]:
complete_list = [i for i in range(1,41)]
print("Before filter",complete_list)
even_filter = list(filter(lambda x : x %2 == 0,complete_list))
print("After filter ",even_filter)

Before filter [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
After filter  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

### 26. Convert a list of strings to a list of integers.

In [77]:
str_list = [str(i) for i in range(10)]
print("Numbers as string",str_list)

int_list = [ eval(i) for i in str_list]
print("Number as integer",int_list)

Numbers as string ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
Number as integer [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 27. Convert a list of integers to a list of strings.

In [78]:
del(str_list)
print("Numbers", int_list)
str_list = [ str(i) for i in int_list]
print("Numebrs to string",str_list)

Numbers [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Numebrs to string ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

### 28. Flatten a nested list.

In [79]:
nested_list = [1,2,3,[4,5,6],[56+90j,"Python"], ['EDA',True]]
flat_list = []
for single in nested_list:
    if type(single) == list:
        flat_list.extend(single)
    else:
        flat_list.append(single)
print("Flattened list is", flat_list)

Flattened list is [1, 2, 3, 4, 5, 6, (56+90j), 'Python', 'EDA', True]

### 29. Create a list of the first 10 Fibonacci numbers.

In [80]:
fib_list = [1,2]
y = 0
while len(fib_list) < 11:
    for i in fib_list[len(fib_list)-2:len(fib_list)]:
        y = i + y
    else:
        fib_list.append(y)
        y = 0
print(fib_list)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### 30. Check if a list is sorted.

In [81]:
unsortedList = [1,3,2,1,99,123,45,3,89,19088,6,34,78,90.8]
sortedList = sorted(unsortedList)
if sortedList == unsortedList:
    print("List are sorted")
else:
    print("List are not sorted")

List are not sorted

In [82]:
unsortedList = sorted([1,3,2,1,99,123,45,3,89,19088,6,34,78,90.8])
sortedList = sorted(unsortedList)
if sortedList == unsortedList:
    print("List are sorted")
else:
    print("List are not sorted")

List are sorted

### 31. Rotate a list to the left by `n` positions.

In [84]:
positions = int( input("Postions you want to rotate the list"))
if positions >= len(myList):
    print("List cannot be rotated, give less than",len(myList))
else:
    rotated_list = myList[positions:] + myList[:positions]
    print("Beore rotate",myList)
    print("Rotated shift to position",positions,"places",rotated_list)

Postions you want to rotate the list 3

Beore rotate ['Stats', 'Python', 'Python', 'Pandas']
Rotated shift to position 3 places ['Pandas', 'Stats', 'Python', 'Python']

### 32. Rotate a list to the right by `n` positions.

In [85]:
positions = int( input("Postions you want to rotate the list"))
if positions >= len(myList):
    print("List cannot be rotated, give less than",len(myList))
else:
    rotated_list = myList[-positions:] + myList[:-positions]
    print("Beore rotate",myList)
    print("Rotated shift to position",positions,"places",rotated_list)

Postions you want to rotate the list 2

Beore rotate ['Stats', 'Python', 'Python', 'Pandas']
Rotated shift to position 2 places ['Python', 'Pandas', 'Stats', 'Python']

### 33. Create a list of prime numbers up to 50.

In [86]:
prime_list = [1]
i = 3
while i<= 50:
    for j in range(2,i):
        if i % j == 0:
            break;
    else:
        prime_list.append(i)
        i += 1
    i += 1
print("List of first 50 prime numbers",prime_list)

List of first 50 prime numbers [1, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [87]:
i = 3
y = 0
chunks_list = []
myl = [1,2,3,4,5]
if len(myl) < i:
    print('cannot')
else:
    while y < len(myl):
        chunks_list.append([myl[i] for i in range(y,i+y) if i < len(myl)])
        y += i
print("Chunk data",chunks_list)

Chunk data [[1, 2, 3], [4, 5]]

### 35. Find the second largest number in a list.

In [88]:
print("List is ",myl)
max_num = max(myl)
# for i in myl:
#     print(i)
print("Maximum number in list is",max_num)

List is  [1, 2, 3, 4, 5]
Maximum number in list is 5

### 36. Replace every element in a list with its square.

In [89]:
list_num = [1,2,3,7,9,4,5]
print("List before square",list_num)
list_num = [i ** 2 for i in list_num]
print("List after square",list_num)

List before square [1, 2, 3, 7, 9, 4, 5]
List after square [1, 4, 9, 49, 81, 16, 25]

### 37. Convert a list to a dictionary where list elements become keys and their
### indices become values.

In [90]:
mydict = {}
for i in list_num:
    mydict[i] = list_num.index(i)
print(mydict)

{1: 0, 4: 1, 9: 2, 49: 3, 81: 4, 16: 5, 25: 6}

### 38. Shuffle the elements of a list randomly.

In [91]:
import random
l = [1,2,3,4,5,6,7,1,12,34,67,1,2,3]
 
random.shuffle(l)
print("After shuffle",l)

After shuffle [12, 2, 6, 2, 34, 3, 7, 1, 4, 1, 67, 1, 3, 5]

### 39. Create a list of the first 10 factorial numbers.

In [92]:
def fac_n(n):
    if n <= 1:
        return 1
    else:
        x = 1
        for i in range(1,n+1):
            x = x * i
    return x

In [93]:
fac_list = [fac_n(i) for i in range(1,11)]
print("First 10 factorial number",fac_list)

First 10 factorial number [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [94]:
def common_l(l1,l2):
    for i in l1:
        if i in l2:
            return True
    else:
        return False

In [95]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l3 = [10,11,2,3]

if common_l(l1,l2):
    print("list1 and list2 have common elements")
else:
    print("list 1 and list2 does not have any common element")
    
if common_l(l1,l3):
    print("list1 and list2 have common elements")
else:
    print("does not have any common element")

list 1 and list2 does not have any common element
list1 and list2 have common elements

### 41. Remove all elements from a list.

In [96]:
l_remove = [1,2,4,90+89j,{2,3,4}]
l_remove.clear()
print("Length of list",len(l_remove))

Length of list 0

### 42. Replace negative numbers in a list with 0.

In [97]:
l = [1,2,11,-20,-40,23,-44]
l_negative = [0 if i < 0 else i for i in l ]
print("Original list",l)
print("Negative numbers are replaced",l_negative)

Original list [1, 2, 11, -20, -40, 23, -44]
Negative numbers are replaced [1, 2, 11, 0, 0, 23, 0]

### 43. Convert a string into a list of words.

In [98]:
s = 'Python'
s_list = list(s)
print("String into list",s_list)

String into list ['P', 'y', 't', 'h', 'o', 'n']

### 44. Convert a list of words into a string.

In [99]:
l = ['DS','Python','EDA','M']
s = ' '
s = s.join(l)
print("After list into string",s)

After list into string DS Python EDA M

### 45. Create a list of the first `n` powers of 2.

In [100]:
l_power_2 = int(input("Enter any number "))
l_power = [i**2 for i in range(1,l_power_2+1)]
print("List with power of 2", l_power)

Enter any number  10

List with power of 2 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 46. Find the longest string in a list of strings.

In [101]:
l1 = ['DS','Python','EDA','M']
print(f"longest string in list {l1} is {max(l1,key=len)}")

longest string in list ['DS', 'Python', 'EDA', 'M'] is Python

### 47. Find the shortest string in a list of strings.

In [102]:
l1 = ['DS','Python','EDA','M']
print(f"shortest string in list {l1} is {min(l1,key=len)}")

shortest string in list ['DS', 'Python', 'EDA', 'M'] is M

### 48. Create a list of the first `n` triangular numbers.

In [103]:
def list_tri(n):
    l1 = []
    x = 0
    for i in range(1,n+1):
        x = x+i
        l1.append(x)
    return l1

In [104]:
list_tri_n = int(input("Enter any number"))
print("List triangular number is",list_tri(list_tri_n))

Enter any number 20

List triangular number is [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210]

### 49. Check if a list contains another list as a subsequence.

In [110]:
def subseq(l1,l2):
    len_l1 = len(l1)
    len_l2 = len(l2)
    print(len_l1,len_l2)
    if len_l2 < len_l1:
        l = 0
        for i in range(0,len_l2):
            if l2 == l1[l:len_l2+l]:
                return True
            else:
                l += 1
    return False

In [111]:
l1 = [1,2,3,4,5]
l2 = [3,4,5]
print("List2 is subsequence of list1",subseq(l1,l2))

5 3
List2 is subsequence of list1 True

### 50. Swap two elements in a list by their indices.

In [112]:
l1 = [1,2]
print("Before swapping",l1)
l1[0],l1[1] = l1[1],l1[0]
print("After swapping",l1)

Before swapping [1, 2]
After swapping [2, 1]

### Tuple Based Practice Problem

### 1. Create a tuple with integers from 1 to 5.

In [113]:
mytuple = (1,2,3,4,5)
print("Typle with intergers",mytuple)

Typle with intergers (1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [114]:
print(mytuple)
print("Third element of tuple is ",mytuple[2])

(1, 2, 3, 4, 5)
Third element of tuple is  3

### 3. Find the length of a tuple without using the `len()` function.

In [115]:
i = 0
for x in mytuple:
    i +=1
print("Length of tuple is",i)

Length of tuple is 5

### 4. Count the occurrences of an element in a tuple.

In [116]:
mytuple = (2,4,6,8,10,2,8,22,34)
element_occurence = 8
count = 0
for i in mytuple:
    if element_occurence == i:
        count += 1
print("In tuple",mytuple,"element",element_occurence,"occured",count,"times")

In tuple (2, 4, 6, 8, 10, 2, 8, 22, 34) element 8 occured 2 times

### 5. Find the index of the first occurrence of an element in a tuple.

In [117]:
mytuple = (2,4,6,8,10,2,8,22,34)
element_occurence = 8
print("In tuple",mytuple,"element",element_occurence,"is at position",mytuple.index(element_occurence))

In tuple (2, 4, 6, 8, 10, 2, 8, 22, 34) element 8 is at position 3

### 6. Check if an element exists in a tuple.

In [118]:
mytuple = (2,4,6,8,10,2,8,22,34)
element_find = 40
if element_find in mytuple:
    print(f"Element {element_find} found in tuple {mytuple} ")
else:
    print(f"Element {element_find} not found in tuple {mytuple} ")

Element 40 not found in tuple (2, 4, 6, 8, 10, 2, 8, 22, 34)

### 7. Convert a tuple to a list.

In [119]:
mytuple = (2,4,6,8,10,2,8,22,34)
mylist = list(mytuple)
print("Tuple",mytuple,"has been converted into list ",mylist)

Tuple (2, 4, 6, 8, 10, 2, 8, 22, 34) has been converted into list  [2, 4, 6, 8, 10, 2, 8, 22, 34]

### 8. Convert a list to a tuple.

In [120]:
print(f"List {mylist} has been converted into tuple {tuple(mylist)}")

List [2, 4, 6, 8, 10, 2, 8, 22, 34] has been converted into tuple (2, 4, 6, 8, 10, 2, 8, 22, 34)

### 9. Unpack the elements of a tuple into variables.

In [121]:
packed_tuple = (3,4,5)

num1 , num2 , num3 = packed_tuple
print("Number 1 is",num1)
print(f"Number 2 is {num2}")
print("Number 3 is %i"%num3)

Number 1 is 3
Number 2 is 4
Number 3 is 5

### 10. Create a tuple of even numbers from 1 to 10.

In [122]:
even_list = [i for i in range(1,11) if i % 2 == 0 ]
even_tuple = tuple(even_list)
print("Tuple which has even number from 1 to 10 is",even_tuple)

Tuple which has even number from 1 to 10 is (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [123]:
odd_list = [i for i in range(1,11) if i % 2 != 0 ]
odd_tuple = tuple(odd_list)
print("Tuple which has odd number from 1 to 10 is",odd_tuple)

Tuple which has odd number from 1 to 10 is (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [124]:
m1 = (1,2,3)
m2 = (4,5,6)
m3 = m1 + m2
print("Concatenated of two tuples is", m3)

Concatenated of two tuples is (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [125]:
print(m1)
print("Repeat of tuple 3 times is",(m1 * 3))

(1, 2, 3)
Repeat of tuple 3 times is (1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [126]:
m4 = ()
if len(m4) == 0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

### 15. Create a nested tuple.

In [127]:
nested_tuple = (1,3,56.89,('data science','ML'), 90+89j,('CV','NLP'))
print("Nested tuple is", nested_tuple)

Nested tuple is (1, 3, 56.89, ('data science', 'ML'), (90+89j), ('CV', 'NLP'))

### 16. Access the first element of a nested tuple.

In [128]:
print(f"First element of tuple {m2} is {m2[0]}")

First element of tuple (4, 5, 6) is 4

### 17. Create a tuple with a single element.

In [129]:
single_ele = ('Text',)
print("Single lemenet tuple is", single_ele, "and type is",type(single_ele))

Single lemenet tuple is ('Text',) and type is <class 'tuple'>

### 18. Compare two tuples.

In [130]:
print("Tuple 1",m2)
print("Tuple 2",m3)

print("tuple1 == tuple2:", m2 == m3)
print("tuple1 != tuple2:", m2 != m3)
print("tuple1 >= tuple2:", m2 >= m3)
print("tuple1 <= tuple2:", m2 <= m3)

Tuple 1 (4, 5, 6)
Tuple 2 (1, 2, 3, 4, 5, 6)
tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 >= tuple2: True
tuple1 <= tuple2: False

### 19. Delete a tuple.

In [131]:
print("Before delete")
print(m1)
del(m1)
print("After delete:")
print(m1)

Before delete
(1, 2, 3)
After delete:

NameError: name 'm1' is not defined

### 20. Slice a tuple.

In [132]:
print(f"Slicing of tuple {m3[1:4]}")

Slicing of tuple (2, 3, 4)

### 21. Find the maximum value in a tuple.

In [133]:
print(f"Maximum valud in tuple {m3} is {max(m3)}")

Maximum valud in tuple (1, 2, 3, 4, 5, 6) is 6

### 22. Find the minimum value in a tuple.

In [134]:
print(f"Minimum valud in tuple {m3} is {min(m3)}")

Minimum valud in tuple (1, 2, 3, 4, 5, 6) is 1

### 23. Convert a string to a tuple of characters.

In [135]:
mystr = 'Data science'
mytuple_str = tuple(mystr)
print("Strin to tuple is", mytuple_str)

Strin to tuple is ('D', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

### 24. Convert a tuple of characters to a string.

In [136]:
print("String before tuple",mytuple_str)
mytup_str = ''
for i in mytuple_str:
    mytup_str += i
print('Tuple to String is',mytup_str)

String before tuple ('D', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')
Tuple to String is Data science

### 25. Create a tuple from multiple data types.

In [137]:
tuple_hetro = (1, 20.8,True, 90+89j,[34,56,'DS'], (45,23,"Pyton"), {"ML"}, {'course':'Full Stack DS'})
print(tuple_hetro)

(1, 20.8, True, (90+89j), [34, 56, 'DS'], (45, 23, 'Pyton'), {'ML'}, {'course': 'Full Stack DS'})

### 26. Check if two tuples are identical.

In [138]:
m1 = (1,2,3)
m2 = (1,2,3)
m3 = (1,2,4)

if m1 == m2 :
    print(f"tuples {m1} and {m2} are identical")
if m1 != m3:
    print(f"tuples {m1} and {m3} are not identical")

tuples (1, 2, 3) and (1, 2, 3) are identical
tuples (1, 2, 3) and (1, 2, 4) are not identical

### 27. Sort the elements of a tuple.

In [139]:
m1 = (1,100,2,4,56,8,90,4)
print("Sorted format", sorted(m1))

Sorted format [1, 2, 4, 4, 8, 56, 90, 100]

### 28. Convert a tuple of integers to a tuple of strings.

In [140]:
print(m1)
m4 = tuple((str(i) for i in m1 ))
print('Integers to String ',m4)

(1, 100, 2, 4, 56, 8, 90, 4)
Integers to String  ('1', '100', '2', '4', '56', '8', '90', '4')

### 29. Convert a tuple of strings to a tuple of integers.

In [141]:
print(m4)
m5 = tuple((int(i) for i in m4 ))
print('String to Integers',m5)

('1', '100', '2', '4', '56', '8', '90', '4')
String to Integers (1, 100, 2, 4, 56, 8, 90, 4)

### 30. Merge two tuples.

In [142]:
t1 = (5,6,7)
t2 = (8,9,10)
t3 = t1 + t2
print(f"tuple {t1} and tuple {t2} were merged as {t3}")

tuple (5, 6, 7) and tuple (8, 9, 10) were merged as (5, 6, 7, 8, 9, 10)

### 31. Flatten a nested tuple.

In [143]:
def flatten_tuple(mytuple):
    flatten = []
    for item in mytuple:
        if isinstance(item,tuple):
            flatten.extend(flatten_tuple(item))
        else:
            flatten.append(item)
    else:
        return flatten

In [144]:
nested_tuple = ((1,2,3),'DS',(34+90j,True),('Python','ML'))
print("Our flatten tuple is ",tuple(flatten_tuple(nested_tuple)))

Our flatten tuple is  (1, 2, 3, 'DS', (34+90j), True, 'Python', 'ML')

### 32. Create a tuple of the first 5 prime numbers.

In [145]:
def prime_no(no):
    for i in range(2, int(no ** 0.5) + 1):
        if no % i == 0:
            return False
        else:
            return True

In [146]:
prime_list = [i for i in range(2,20) if prime_no(i)][:5]
prime_tuple = tuple(prime_list)
print("First 5 prime numbers are ",prime_tuple)

First 5 prime numbers are  (5, 7, 9, 11, 13)

### 33. Check if a tuple is a palindrome.

In [147]:
t1 = (1,3,5,7)
t2 = (7,5,3,1)
if t1 == t2[::-1]:
    print("Yes tuple is palindrome")
else:
    print("Tuple is not palindrome")

Yes tuple is palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [148]:
sqr_tuple = tuple([i**2 for i in range(1,6) ])
print('Squares of numbers',sqr_tuple)

Squares of numbers (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [149]:
l = (1,3,2,4,5,6,7,80,99,121,134,12)

even_filter = filter( lambda a : a % 2 == 0, l)
print("Even numbers are ",tuple(even_filter))

Even numbers are  (2, 4, 6, 80, 134, 12)

### 36. Multiply all elements in a tuple by 2.

In [150]:
print("before multiply ",l)
multiply_2 = map( lambda a : a * 2 , l)
print("After multiply  ",tuple(multiply_2))

before multiply  (1, 3, 2, 4, 5, 6, 7, 80, 99, 121, 134, 12)
After multiply   (2, 6, 4, 8, 10, 12, 14, 160, 198, 242, 268, 24)

### 37. Create a tuple of random numbers.

In [151]:
random_tuple = tuple([random.randint(0, 9) for i in range(1,10) ])
print("Random generated tuple", random_tuple)

Random generated tuple (1, 6, 5, 4, 0, 0, 8, 8, 7)

### 38. Check if a tuple is sorted.

In [152]:
print("tuple 1 ",l)
sorted_l = sorted(l)
print(" tuple 2 ",sorted_l)
if l == sorted_l:
    print("both tuple are sorted")
else:
    print("Tuples are not sorted")

tuple 1  (1, 3, 2, 4, 5, 6, 7, 80, 99, 121, 134, 12)
 tuple 2  [1, 2, 3, 4, 5, 6, 7, 12, 80, 99, 121, 134]
Tuples are not sorted

### 39. Rotate a tuple to the left by `n` positions.

In [153]:
mytuple = (1,2,3,4,5)
rotate_position = int(input("Input any number"))
if rotate_position > len(mytuple):
    print("Position exceeded element count")
else:
    rotate_list = list(mytuple)
    rotated_left = tuple(rotate_list[rotate_position:] + rotate_list[:rotate_position])
print("After rotation to left ",rotated_left)

Input any number 2

After rotation to left  (3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [154]:
mytuple = (1,2,3,4,5)
rotate_position = int(input("Input any number"))
if rotate_position > len(mytuple):
    print("Position exceeded element count")
else:
    rotate_list = list(mytuple)
    rotated_right = tuple(rotate_list[-rotate_position:] + rotate_list[:-rotate_position])
print("After rotation to right ",rotated_right)

Input any number 3

After rotation to right  (3, 4, 5, 1, 2)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [155]:
def fib_n(n):
    if n <= 1:
        return 1
    else:
        return fib_n(n-1) + fib_n(n-2)

In [156]:
fib_tuple = tuple([fib_n(i) for i in range(1,6)])
print("First 5 fibnnocci numbers are",fib_tuple)

First 5 fibnnocci numbers are (1, 2, 3, 5, 8)

### 42. Create a tuple from user input.

In [159]:
input_user = tuple(input("Enter anything"))
print("Input from user is ",input_user)

Enter anything 12345

Input from user is  ('1', '2', '3', '4', '5')

### 43. Swap two elements in a tuple.

In [160]:
t1 = (1,2)
t2 = list(t1)
t3 = list(t1)
t2[1] = t2[0]
t3[0] = t3[1]
t1 = list(t1)
t1[0] = t3[0]
t1[1] = t2[1]
print("After swapping",tuple(t1))

After swapping (2, 1)

### 44. Reverse the elements of a tuple.

In [161]:
print("before reversal ",l)
print("After recevrsal ",l[::-1])

before reversal  (1, 3, 2, 4, 5, 6, 7, 80, 99, 121, 134, 12)
After recevrsal  (12, 134, 121, 99, 80, 7, 6, 5, 4, 2, 3, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [162]:
power_n = int(input("Input any number"))

power_tuple = tuple(map( lambda a : a **2, range(1,power_n+1)))
print("2 to the power of first n numebers",power_tuple)

Input any number 10

2 to the power of first n numebers (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

### 46. Find the longest string in a tuple of strings.

In [163]:
long_t = ("DS", "JAVA","Python","Machine Learning")
print("The longest string in tuple is ", max(long_t , key=len))

The longest string in tuple is  Machine Learning

### 47. Find the shortest string in a tuple of strings.

In [164]:
short_t = ("DS", "JAVA","Python","Machine Learning")
print("The shortest string in tuple is ", min(short_t,key=len))

The shortest string in tuple is  DS

### 48. Create a tuple of the first `n` triangular numbers.

In [165]:
def tri_no(n):
    l1 = []
    x = 0
    for i in range(1,n+1):
        x = x + i
        l1.append(x)
    return l1

In [166]:
tri_no_input = int(input("enter any number"))
print("Triangular series for given number",tuple(tri_no(tri_no_input)))

enter any number 5

Triangular series for given number (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [167]:
def fin_subseq(parent_t,child_t):
    parent_len = len(parent_t) #6
    child_len = len(child_t) # 3
    for i in range(parent_len - child_len+1):
        if parent_t[i:i+child_len] == child_t:
            return True
    return False

In [168]:
if fin_subseq((1,2,3,4,5,6),(3,4,5)):
    print("Yes child is subsequence of parent")
else:
    print("Parent and child are different")

Yes child is subsequence of parent

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [171]:
length_input = int(input("Enter any number"))

length0s_1s = [i % 2 for i in range(1,length_input)]

print("Alternating 1s and 0s",length0s_1s)

Enter any number 20

Alternating 1s and 0s [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

## Set Based Practice Problem

### 1. Create a set with integers from 1 to 5.

In [198]:
s1 = {1,2,3,4,5}
print("New set from 1to 5 is",s1)

New set from 1to 5 is {1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [199]:
s1.add('DS')

In [200]:
print("Newly element is added",s1)

Newly element is added {1, 2, 3, 4, 5, 'DS'}

### 3. Remove an element from a set.

In [201]:
s1.remove('DS')
print("Set after element is removed",s1)

Set after element is removed {1, 2, 3, 4, 5}


### 4. Check if an element exists in a set.

In [202]:
print("Element from set1",s1)
element_check = int(input("Enter any number"))
if element_check in s1:
    print(f"Element {element_check} is exist in set {s1}")
else:
    print(f"Element { element_check} not exist in set")

Element from set1 {1, 2, 3, 4, 5}

Enter any number 4

Element 4 is exist in set {1, 2, 3, 4, 5}

### 5. Find the length of a set without using the `len()` function.

In [203]:
cnt = 0
for i in s1:
    cnt += 1
print("Total elements in set is",cnt)

Total elements in set is 5

### 6. Clear all elements from a set.

In [204]:
s1.clear()

In [205]:
print('After all elements were removed from set',s1)

After all elements were removed from set set()

### 7. Create a set of even numbers from 1 to 10.

In [206]:
s_even = set()
for i in range(1,11):
    if i % 2 == 0:
        s_even.add(i)
print("Set with even numbers",s_even)

Set with even numbers {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [207]:
s_odd = set([i for i in range(1,11) if i % 2 !=0])

In [208]:
print("Set with odd numbers",s_odd)

Set with odd numbers {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [209]:
s_union = s2.union(s_odd)

In [210]:
print("Two sets are ",s2,s_odd)
print("New set after union of two sets",s_union)

Two sets are  {1, 2, 3, 4, 5, 6, 8, 10} {1, 3, 5, 7, 9}
New set after union of two sets {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets.

In [211]:
print("Intersection of two sets with common elements",s_odd.intersection(s_union))
print("Intersection of two sets where there is no common element",s2.intersection(s_odd))

Intersection of two sets with common elements {1, 3, 5, 7, 9}
Intersection of two sets where there is no common element {1, 3, 5}

### 11. Find the difference between two sets.

In [212]:
print("Two sets are ",s_union,s_odd)
print("Difference elements between two sets",s_union.difference(s_odd))

Two sets are  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {1, 3, 5, 7, 9}
Difference elements between two sets {2, 4, 6, 8, 10}

### 12. Check if a set is a subset of another set.

In [213]:
print("parent set is ",s_union)
print("child set is ",s_odd)

if s_odd.issubset(s_union) :
    print("child set is subset of super set")
else:
    print("child set is not subset of parent")

parent set is  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
child set is  {1, 3, 5, 7, 9}
child set is subset of super set

### 13. Check if a set is a superset of another set.

In [214]:
print("parent set is ",s_union)
print("child set is ",s_odd)

if s_union.issuperset(s_odd):
    print("parent is superset of child")
else:
    print("parent is not superset of child")

parent set is  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
child set is  {1, 3, 5, 7, 9}
parent is superset of child

### 14. Create a set from a list.

In [215]:
mylist = ["DS",12,34.56,90+89j,(1,2,3,4)]
myset = set(mylist)
print(f"list {mylist} converted into set {myset}")

list ['DS', 12, 34.56, (90+89j), (1, 2, 3, 4)] converted into set {34.56, (90+89j), 'DS', 12, (1, 2, 3, 4)}

### 15. Convert a set to a list.

In [216]:
print(f"set {myset} converted into list {mylist}")

set {34.56, (90+89j), 'DS', 12, (1, 2, 3, 4)} converted into list ['DS', 12, 34.56, (90+89j), (1, 2, 3, 4)]

### 16. Remove a random element from a set.

In [217]:
element_remove = (1,2,3,4)
myset.remove(element_remove)
print(f"element {element_remove} is removed from set, then set will be {myset}")

element (1, 2, 3, 4) is removed from set, then set will be {34.56, (90+89j), 'DS', 12}

### 17. Pop an element from a set.

In [218]:
print("before popping element from set",myset)
myset.pop()
print("after popping element from set",myset)

before popping element from set {34.56, (90+89j), 'DS', 12}
after popping element from set {(90+89j), 'DS', 12}

### 18. Check if two sets have no elements in common.

In [219]:
print("odd set",s_odd)
print("even set",s_even)
if not s_odd.intersection(s_even):
    print("Two sets have no common element")
else:
    print("Set has common element")

odd set {1, 3, 5, 7, 9}
even set {2, 4, 6, 8, 10}
Two sets have no common element

### 19. Find the symmetric difference between two sets.

In [220]:
s1 = {1,2,3}
s2 = {1, 5, 3 ,6}
print("Two sets are ",s1,s2)
print("Symmetric difference is to bring out elements which are not common from both sets")
print("Symmetric difference is",s1.symmetric_difference(s2))

Two sets are  {1, 2, 3} {1, 3, 5, 6}
Symmetric difference is to bring out elements which are not common from both sets
Symmetric difference is {2, 5, 6}

### 20. Update a set with elements from another set.

In [221]:
s3 = set()
s3.update(s1,s2)
print("Set updated with other elements",s3)

Set updated with other elements {1, 2, 3, 5, 6}

### 21. Create a set of the first 5 prime numbers.

In [222]:
prime_list = [1]
i = 3
while i<= 12:
    for j in range(2,i):
        if i % j == 0:
            break;
    else:
        prime_list.append(i)
        i += 1
    i += 1
print("Set of first 5 prime numbers",set(prime_list))

Set of first 5 prime numbers {1, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [223]:
s4 = set()
s4.update(s3)
print("two sets are ",s3,s4)
if s4 == s3 :
    print("Two sets are identical")
else:
    print("Two sets are not identical")

two sets are  {1, 2, 3, 5, 6} {1, 2, 3, 5, 6}
Two sets are identical

### 23. Create a frozen set.

In [224]:
s_fset = frozenset([1,2,3])
print("Created frozenset is",s_fset)

Created frozenset is frozenset({1, 2, 3})

### 24. Check if a set is disjoint with another set.

In [225]:
print("set1",s_odd)
print("set2",s_even)
print("returns True if two sets have no common element")
if s_odd.isdisjoint(s_even):
    print("Two sets does not have common element")
else:
    print("Common element present")

set1 {1, 3, 5, 7, 9}
set2 {2, 4, 6, 8, 10}
returns True if two sets have no common element
Two sets does not have common element

### 25. Create a set of squares of numbers from 1 to 5.

In [226]:
s_sqr = set([i**2 for i in range(1,6)])
print("Square of 1 to 5", s_sqr)

Square of 1 to 5 {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [227]:
s_even = set(filter(lambda a : a % 2 == 0,s_sqr))
print(f"original set is {s_sqr} and extracted only even numers {s_even}")

original set is {1, 4, 9, 16, 25} and extracted only even numers {16, 4}

### 27. Multiply all elements in a set by 2.

In [228]:
print("set before multiply by 2",s_sqr)
s_mul_2 = set(map(lambda a: a*2 , s_sqr))
print("After multiplication by 2",s_mul_2)

set before multiply by 2 {1, 4, 9, 16, 25}
After multiplication by 2 {32, 2, 8, 18, 50}

### 28. Create a set of random numbers.

In [229]:
import random
rand_set = set([random.randint(20,30) for i in range(1,10)])
print("Random numebrs set",rand_set)

Random numebrs set {20, 22, 23, 24, 25, 27, 30}

### 29. Check if a set is empty.

In [230]:
s1.clear()
if not s1:
    print(f"set {s1} is empty")
else:
    print("set is not empty")

set set() is empty

### 30. Create a nested set (hint: use frozenset).

In [231]:
s_frozen = set()
s_frozen = set([frozenset((1,2)), frozenset((3,4)),frozenset(('DS','python'))])
print("Nested set using frozenset is",s_frozen)

Nested set using frozenset is {frozenset({3, 4}), frozenset({'DS', 'python'}), frozenset({1, 2})}

### 31. Remove an element from a set using the discard method.

In [232]:
print("Set before removing",s_odd)
element_to_remove = int(input("Enter any number to remove from odd set"))
s_odd.discard(element_to_remove)
print("Set after removing",s_odd)

Set before removing {1, 3, 5, 7, 9}

Enter any number to remove from odd set 7

Set after removing {1, 3, 5, 9}

### 32. Compare two sets.

In [233]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6}

print("Set1 is ",s1)
print("Set2 is ",s2)

print("Set1 is subset of set2",s1.issubset(s2))
print("Set2 is subset of set1",s2.issubset(s1))
print("Intersection between sets",s1.intersection(s2))
print("Difference between sets",s1.difference(s2))
print("Summetric difference is",s1.symmetric_difference(s2))

Set1 is  {1, 2, 3, 4, 5}
Set2 is  {3, 4, 5, 6}
Set1 is subset of set2 False
Set2 is subset of set1 False
Intersection between sets {3, 4, 5}
Difference between sets {1, 2}
Summetric difference is {1, 2, 6}

### 33. Create a set from a string.

In [234]:
mystr = 'Machine Learning'
mystr_set = set(mystr)
print("Set from strings",mystr_set)

Set from strings {'e', 'M', 'L', 'h', 'c', 'a', ' ', 'r', 'n', 'g', 'i'}

### 34. Convert a set of strings to a set of integers.

In [235]:
print("Before integer",mystr_set)
set_to_int = set([ord(i) for i in mystr_set])
print("ord() is function to derive value of character as pre ASCII code")
print("after converted to interger",set_to_int)

Before integer {'e', 'M', 'L', 'h', 'c', 'a', ' ', 'r', 'n', 'g', 'i'}
ord() is function to derive value of character as pre ASCII code
after converted to interger {32, 97, 99, 101, 103, 104, 105, 76, 77, 110, 114}

### 35. Convert a set of integers to a set of strings.

In [236]:
print("Before string",set_to_int)
int_to_set = set([chr(i) for i in set_to_int])
print("After deriving string",int_to_set)

Before string {32, 97, 99, 101, 103, 104, 105, 76, 77, 110, 114}
After deriving string {'e', 'M', 'L', 'c', ' ', 'a', 'h', 'r', 'n', 'g', 'i'}

### 36. Create a set from a tuple.

In [237]:
t = (45,67,89+90j,'DS')
t_s = set(t)
print('Set from tuple',t_s)

Set from tuple {'DS', 67, 45, (89+90j)}

### 37. Convert a set to a tuple.

In [238]:
print("Tuple from set",tuple(t_s))

Tuple from set ('DS', 67, 45, (89+90j))

### 38. Find the maximum value in a set.

In [239]:
print(f"Maximum value in set is ",max(s_union))

Maximum value in set is  10

### 39. Find the minimum value in a set.

In [240]:
print(f"Minimum value in set is ",min(s_union))

Minimum value in set is  1

### 40. Create a set from user input.

In [242]:
u_input = input("Enter anything")
u_set = set(u_input)
print("set from user's input",u_set)

Enter anything machine learning

set from user's input {'e', 'h', 'c', 'a', ' ', 'l', 'r', 'm', 'n', 'g', 'i'}

### 41. Check if the intersection of two sets is empty.

In [243]:
print("Odd set ",s_odd)
print("Even set",s_even)
print("So intersection will be empty always")
if not s_odd.intersection(s_even) :
    print("Intersection is null")
else:
    print("There are common values")

Odd set  {1, 3, 5, 9}
Even set {16, 4}
So intersection will be empty always
Intersection is null

### 42. Create a set of the first 5 Fibonacci numbers.

In [244]:
def fib_n(n):
    if n <= 1:
        return 1
    else:
        return fib_n(n-1) + fib_n(n-2)

In [245]:
set_fib = set([fib_n(i) for i in range(1,6)])
print("Set of 5 fibonacci numbers",set_fib)

Set of 5 fibonacci numbers {1, 2, 3, 5, 8}

### 43. Remove duplicates from a list using sets.

In [246]:
mylist = [1,2,3,56+90j,2,3,'python',56+90j]
print("List before removing duplicates",mylist)
mylist_no_dups = list(set(mylist))
print("List after removing duplicates",mylist_no_dups)

List before removing duplicates [1, 2, 3, (56+90j), 2, 3, 'python', (56+90j)]
List after removing duplicates [1, 2, 3, (56+90j), 'python']

### 44. Check if two sets have the same elements, regardless of their count.

In [247]:
def is_same(set1,set2):
    set1_list_sorted = sorted(list(set1))
    set2_list_sorted = sorted(list(set2))
    if set1_list_sorted == set2_list_sorted:
        return True

In [248]:
s1 = {1,2,3,2,3,5,6}
s2 = {1,2,3,5,6}

if is_same(s1,s2):
    print("Both sets have same element",s1,s2)
else:
    print("Sets have different element")

Both sets have same element {1, 2, 3, 5, 6} {1, 2, 3, 5, 6}

### 45. Create a set of the first `n` powers of 2.

In [249]:
power_2 = int(input("Enter any number"))

power_2_set = set([i**2 for i in range(1,power_2+1)])
print("Set for power of 2",power_2_set)

Enter any number 30

Set for power of 2 {256, 1, 4, 900, 9, 16, 144, 400, 529, 784, 25, 289, 36, 676, 169, 49, 441, 64, 576, 196, 324, 841, 81, 729, 225, 100, 484, 361, 625, 121}

### 46. Find the common elements between a set and a list.

In [250]:
print('Set is',s_union)
print('List is ',mylist)
s_l_common = s_union.intersection(mylist)
print("Common elements between set and list are",s_l_common)

Set is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
List is  [1, 2, 3, (56+90j), 2, 3, 'python', (56+90j)]
Common elements between set and list are {1, 2, 3}

### 47. Create a set of the first `n` triangular numbers.

In [251]:
def n_tri(n):
    l1 = []
    x = 0
    for i in range(1,n+1):
        x = x+i
        l1.append(x)
    return l1

In [252]:
set_tri_n = int(input("Enter anu number"))
print("Set of tringular numebrs",set(n_tri(set_tri_n)))

Enter anu number 18

Set of tringular numebrs {1, 66, 3, 36, 6, 136, 105, 10, 171, 45, 78, 15, 21, 55, 120, 153, 91, 28}

### 48. Check if a set contains another set as a subset.

In [253]:
print("paren set is",s_union)
print("child set is ",s_odd)
if s_odd.issubset(s_union):
    print("Child set is subset of parent")
else:
    print("Child is not subset of parent")

paren set is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
child set is  {1, 3, 5, 9}
Child set is subset of parent

### 49. Create a set of alternating 1s and 0s of length `n`.

In [254]:
length_input = int(input("Enter any number"))
set_0s_1s = set([i % 2 for i in range(1,length_input+1)])
print("Set cannot have duplicate so it has unique value",set_0s_1s)

Enter any number 8

Set cannot have duplicate so it has unique value {0, 1}

### 50. Merge multiple sets into one.

In [255]:
print("Odd set ",s_odd)
print("Even set ",s_even)
s_merge = s1.union(s_odd,s_even)
print("After odd and even merged",s_merge)

Odd set  {1, 3, 5, 9}
Even set  {16, 4}
After odd and even merged {1, 2, 3, 4, 5, 6, 9, 16}